<div class="contenido">
    <header class="header">
        <nav class="nav-bar nav">
          <button class="nav-link" (click)="Inicio()">InAlpes</button>
          <div class="nav-links menu">
            <ul class="nav-menu">
              <li class="nav-item">
                <button class="nav-link" (click)="Inmuebles()">Inmuebles</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="Nuevo()">Crear Cuenta</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="InicioSesion()">Ingresar</button>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    

        <main class="main-content">
        <h3>Comprar Inmueble</h3>
            <form action="">
                <select class="form-contro" [(ngModel)]="compra.idInmueble" name="idInmueble">
                    <option value="" disabled selected>Seleccione un tipo</option>
                    <option *ngFor="let inmueble of inmueble" [value]="inmueble.idInmu">{{inmueble.idInmu}}</option>>
                </select>
                    <input type="text" class="form-contro" [(ngModel)]="compra.fechaCompra" name="fechaCompra" placeholder="Fecha de la Compra">
                    <input type="text" class="form-contro" [(ngModel)]="compra.montoCompra" name="montoCompra" placeholder="Monto del inmueble">                 

                <div class="boton ">
                <button (click)="Actualizar(compra)" class="btn btn-danger">Guardar</button>
                <button (click)="Cancelar()" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
        </main>
        <footer class="footer">
            <h2>InAlpes</h2>
            <ul class="footer-links">
              <li class="footer-item">
                <a class="footer-link" href="#">Ubicación</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Telefono: 601 74568322</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Sucursales</a>
              </li>
            </ul>      
          </footer>
        </div>

