<div class="contenido">
    <header class="header">
        <nav class="nav-bar nav">
          <button class="nav-link" (click)="Inicio()">InAlpes</button>
          <div class="nav-links menu">
            <ul class="nav-menu">
              <li class="nav-item">
                <button class="nav-link" (click)="Inmuebles()">Inmuebles</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="Nuevo()">Crear Cuenta</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="InicioSesion()">Ingresar</button>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    

        <main class="main-content">
        <h3>Agregar Informacion Comercial</h3>
        <form action="">
            <input type="text" class="form-control" [(ngModel)]="informacioncomercial.detalles" name="detalles" placeholder="Detalles">
            <select class="form-control" [(ngModel)]="informacioncomercial.idPersona" name="idPersona">
              <option value="" disabled selected>De quien es la informacion?</option>
              <option *ngFor="let persona of persona" [value]="persona.id">{{persona.nombres}}</option>
            </select>
            <div class="boton">
              <button (click)="Actualizar(informacioncomercial)" class="btn btn-danger">Actualizar</button>
              <button (click)="Cancelar()" class="btn btn-danger">Cancelar</button>
            </div>
          </form>
          
        </main>
        <footer class="footer">
            <h2>InAlpes</h2>
            <ul class="footer-links">
              <li class="footer-item">
                <a class="footer-link" href="#">Ubicación</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Telefono: 601 74568322</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Sucursales</a>
              </li>
            </ul>      
          </footer>
        </div>

