<div class="contenido">
    <header class="header">
        <nav class="nav-bar nav">
          <button class="nav-link" (click)="Inicio()">InAlpes</button>
          <div class="nav-links menu">
            <ul class="nav-menu">
              <li class="nav-item">
                <button class="nav-link" (click)="Venta()">Venta</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="Alquiler()">Alquiler</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="Nuevo()">Crear Cuenta</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="InicioSesion()">Ingresar</button>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    

        <main class="main-content">
        <h3>Crear una visita</h3>
            <form action="">
                    <input type="text" class="form-contro" [(ngModel)]="visita.fecha" name="fecha" placeholder="Fecha de la visita:">
                    <select class="form-contro" [(ngModel)]="visita.idInmueble" name="idPersonas">
                        <option value="" disabled selected>Seleccione inmueble que desea visitar: </option>
                        <option *ngFor="let inmueble of inmueble" [value]="inmueble.idInmu">{{inmueble.idInmu}}</option>
                    </select>                 
                    <select class="form-contro" [(ngModel)]="visita.idPersonas" name="idPersonas">
                        <option value="" disabled selected>Seleccione el comercial: </option>
                        <option *ngFor="let persona of persona" [value]="persona.id">{{persona.nombres}}</option>>
                    </select>
                <div class="boton ">
                <button (click)="Guardar(visita)" class="btn btn-danger">Guardar</button>
                <button (click)="Cancelar()" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
        </main>
        <footer class="footer">
            <h2>InAlpes</h2>
            <ul class="footer-links">
              <li class="footer-item">
                <a class="footer-link" href="#">Ubicación</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Telefono: 601 74568322</a>
              </li>
              <li class="footer-item">
                <a class="footer-link" href="#">Sucursales</a>
              </li>
            </ul>      
          </footer>
        </div>

